<div class="openaside"><a class="navbutton" href="#" title="<%= __('showsidebar') %>"></a></div>
<% if( (item.toc !== false) && theme.toc.aside){ %>
  <div id="toc" class="toc-aside">
  <strong class="toc-title"><%= __('contents') %></strong>
 <% if(item.list_number == false) {%>
 <%- toc(item.content,{list_number:false}) %>
 <% }else{ %>
 <%- toc(item.content) %>
 <% } %>
  </div>
<% } %>
<div id="asidepart">
<div class="closeaside"><a class="closebutton" href="#" title="<%= __('hidesidebar') %>"></a></div>
<aside class="clearfix">
	<!-- date -->
	<% if (item.date) { %>
	<div class="meta-widget">
	<i class="fa fa-clock-o"></i>
	<%= item.date.format(config.date_format) %> 
	</div>
	<% } %>

	<!-- categories -->
    <% if (item.categories  && item.categories.length ) { %>
	<div class="meta-widget">
	<a data-toggle="collapse" data-target="#categorys"><i class="fa fa-folder"></i></a>	
    <ul id="categorys" class="tag_box list-unstyled collapse in">
        <%- partial('category') %>
    </ul>
	</div>
	<% } %>

	<!-- tags -->
	<% if(item.tags && item.tags.length ){ %>
	<div class="meta-widget">
	<a data-toggle="collapse" data-target="#tags"><i class="fa fa-tags"></i></a>		  
    <ul id="tags" class="tag_box list-unstyled collapse in">	  
	  <%- partial('tag') %>
    </ul>
	</div>
	<% } %>	
<% theme.widgets.forEach(function(widget){ %>
  <%- partial('../_widget/' + widget) %>
<% }); %>
</aside>
</div>

